.button{
 background-color: black;
 display: flex;
 border-radius: 100px;
 opacity: 0.85;
 text-decoration: none;
 margin: 15px;
 height: 25px;
 width: 250px;
 align-items: center;
 justify-content: center;
}
.button > a{
   text-decoration: none;
   color: white;
}
.whitebutton{
   background-color: white;
   color: black;

}
.whitebutton:hover > a{
   color: rgb(108, 58, 202);
}
.whitebutton>a{
   color: black;
   
}